{% extends "layout.html" %}
{% load static %}

{% block content %}
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 ">
        <form action=" {% url "upload_image" %}" method="post" enctype = "multipart/form-data"> <!-- Neccessary for form to upload file -->
          {% csrf_token %}
            <div class="input-group">
              {{ form }}
              <button  type="submit" >Button</button>
            </div>
        </form>
      </div>
      
    </div>
  </div>
{% endblock  %}

{% block css_files %}
  <link rel="stylesheet" href="{%static 'courses/css/style.css'%}">
{% endblock css_files %}



{% block content_title %}
Course List
{% endblock %}

{% block js_files %}
<script src="{%static 'courses/js/script.js'%}"></script>
{% endblock js_files %}

